<div class="login_container">
  <div class="login_body">
      <h1 class="body_title">SignUp</h1>
      <p class="body_title">It's not long before you embark on this journey!</p>

      <form action="#" onsubmit="login()">
          <label>E-mail</label>
          <input class="input_value" type="email" placeholder="name@mail.com">
          <label>Password</label>
          <input class="input_value" type="password" placeholder="8+ (a, A, 1, #)">
          <input type="checkbox" id="checkbox">
          <label for="checkbox">I've read and agree with T&C</label>
          <input class="input_btn" type="submit" value="Signup">
      </form>
  </div>

</div>
